In [2]:
%run __init__
import dataspace

ds = dataspace.from_csv("../../data/BTC-USDT-1min.csv")
ds.show()

[START] Loading csv...
[INFO] The dataframe has 5462 rows and 7 columns: Unnamed: 0, ReceiptTS, Source, mktTS, px, qty, side

,Unnamed: 0,ReceiptTS,Source,mktTS,px,qty,side
0,0,2021-05-16 16:32:12.499659172+00:00,Binance,2021-05-16 16:32:12.125000+00:00,47575.44,0.005559,Sell
1,1,2021-05-16 16:32:12.499681090+00:00,Binance,2021-05-16 16:32:12.128000+00:00,47575.44,0.005561,Sell
2,2,2021-05-16 16:32:12.499705171+00:00,Binance,2021-05-16 16:32:12.129000+00:00,47575.44,0.005559,Sell
3,3,2021-05-16 16:32:12.501496348+00:00,Binance,2021-05-16 16:32:12.222000+00:00,47577.72,0.000420,Buy
4,4,2021-05-16 16:32:12.501513926+00:00,Binance,2021-05-16 16:32:12.222000+00:00,47580.00,0.001365,Buy

In [3]:
print(ds.unique_("Source"))

['Binance', 'Huobi', 'OKEx', 'FTX', 'FTXUS']

In [4]:
dss = ds.split_("Source")
dss.keys()

dict_keys(['Binance', 'Huobi', 'OKEx', 'FTX', 'FTXUS'])

In [5]:
dss["Binance"].show()

[INFO] The dataframe has 4202 rows and 7 columns: Unnamed: 0, ReceiptTS, Source, mktTS, px, qty, side

,Unnamed: 0,ReceiptTS,Source,mktTS,px,qty,side
0,0,2021-05-16 16:32:12.499659172+00:00,Binance,2021-05-16 16:32:12.125000+00:00,47575.44,0.005559,Sell
1,1,2021-05-16 16:32:12.499681090+00:00,Binance,2021-05-16 16:32:12.128000+00:00,47575.44,0.005561,Sell
2,2,2021-05-16 16:32:12.499705171+00:00,Binance,2021-05-16 16:32:12.129000+00:00,47575.44,0.005559,Sell
3,3,2021-05-16 16:32:12.501496348+00:00,Binance,2021-05-16 16:32:12.222000+00:00,47577.72,0.000420,Buy
4,4,2021-05-16 16:32:12.501513926+00:00,Binance,2021-05-16 16:32:12.222000+00:00,47580.00,0.001365,Buy