In [4]:
%run __init__
import pandas as pd
import dataspace

In [5]:
data = {"col1": [0,1,2,0,3,3]}
df = pd.DataFrame(data)
ds = dataspace.from_df(df)
ds.show()

[INFO] The dataframe has 6 rows and 1 columns: col1

   col1
0     0
1     1
2     2
3     0
4     3

In [6]:
ds.count_zero_("col1")

[OK] Found 2 zero values in column col1

2